{% extends "base.html" %}

{% block title %}
    MIS TRANSACCIONES
{% endblock %}

{% block container %}
        <div>
            <h2 class="fw-bold mb-4" style="color: #FB743E">MIS TRANSACCIONES</h2>
            {% if messages %}
                <div class="alert alert-success mb-2">
                    {% for message in messages %}
                        {{ message|safe }} 
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-10">
                    <h4 class="fw-bold">{{ request.user.cliente }} ({{ request.user|default_if_none:'Usuario no asignado' }})</h4>
                    <h5><strong>Saldo</strong> {{ cuenta }} LPS</h5>
                    <h5><strong>Total transacciones</strong> {{ transacciones.count }}</h5>
                </div>
                <div class="col-2">
                    <lord-icon
                        src="https://cdn.lordicon.com/qhviklyi.json"
                        trigger="loop"
                        colors="primary:#121331,secondary:#ff8a50"
                        style="width:100%;height:100%">
                    </lord-icon>
                </div>
            </div>

            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>No. Transaccion</th>
                        <th>Tipo</th>
                        <th class="text-end">Monto (LPS)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in transacciones %}
                    <tr>
                        <th>{{ t.id }}</th>
                        {% if  t.tipo_transaccion == '1'%}
                            <td>DEPÓSITO</td>
                        {% elif t.tipo_transaccion == '2'%} 
                            <td>RETIRO</td>
                        {% else %}
                            <td>TRANSFERENCIA</td>
                        {% endif %}
                        <td class="text-end">{{ t.monto }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-danger text-center">No se encontraron resultados</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}

{% block js %}
{% endblock  %}